---
http_interactions:
- request:
    method: post
    uri: http://my-kibana-instance.com:9200/elastic_notifier/signals
    body:
      encoding: UTF-8
      string: '{"severity":"error","timestamp":"2017-11-20T17:42:10","program_name":"static-override","runtime":"runtime-override","pid":89343,"hostname":"test-hostname","ip":"123.123.123.123","data":{"name":"NoMethodError","message":"test error","backtrace":["test-backtrace"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/elastic_notifier/signals/AV_aepditpUozF8RdZUj"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_index":"elastic_notifier","_type":"signals","_id":"AV_aepditpUozF8RdZUj","_version":1,"result":"created","_shards":{"total":2,"successful":2,"failed":0},"created":true}'
  recorded_at: Mon, 20 Nov 2017 17:42:10 GMT
recorded_with: VCR 3.0.3
